* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 8%;
  position: absolute;
  margin: -30px;
  right: 100px;
  z-index: 2;
}
.banner{
  width: 100%;
  background: url('../img/design1_image1.jpg') no-repeat;
  position: relative;
  height: 470px;
}
.menu{
  position: relative;
  top: 100px;
}
.items{
  padding: 12px 10px 0px 50px;
  
}
li{
  margin-bottom: 50px;
  list-style: none;
}
a{
  text-decoration: none;
  list-style: none;
}
a:hover{
  text-decoration: underline;
  color:rgb(92, 92, 219);
}
.titulo {
  font-family: 'Comic Neue', cursive;
  font-size: 70px;
  text-align: left;
  color: white;
}
.context{
  bottom: 215px;
  position: relative;
}
.subtitulo {
  font-family: 'Comic Neue', cursive;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: black;
  margin-top: 2px;
}
.section{
  margin-left: 200px;
  bottom: 150px;
  position: relative;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: left;
}
p {
  font-size: 15px;
  text-align: justify;
  text-indent: 30px;
  margin-bottom: 20px;
}
