* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 8%;
  position: absolute;
  padding-bottom: 550px;
}
.titulo {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  text-align: center;
}
.subtitulo {
  font-family: "Lobster", cursive;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: black;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
p {
  font-size: 12px;
  text-align: justify;
  text-indent: 30px;
}
