* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: lightcyan;
}

.logo {
  width: 20%;
  position: absolute;
  margin: 50px;
  top: -5px;
  z-index: 2;
  right: 530px;
}

.banner{
  width: 100%;
  position: relative;
  height: 270px;
}
.titulo {
  font-family: 'Comic Neue', cursive;
  font-size: 80px;
  text-align: left;
  color: rgb(252, 249, 117);
  -webkit-text-stroke: 2px rgb(177, 24, 24);
  text-align: center;
  margin-top: -5px;
  text-shadow: #457e77 3px 8px;
}

nav{
  height: 90px;
  background-color:#457e77;
  text-align: center;
  top: -110px;
  overflow: hidden;
  
}

nav ul{
   list-style: none;
   display: inline-block;
   padding: 18px;

}

nav ul li{
    float: left;
    margin-top: 20px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
}

nav ul li a:hover{
  color: rgb(252, 248, 50);
  line-break: unset;
  border-top: 5px solid gold;
}
/*body*/
.container{
  width: 950px;
  margin: 20px auto;
  padding: 10px 50px;
  background-color: white;
}
.subtitulo {
  font-family: 'Comic Neue', cursive;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: black;
  margin-top: 2px;
}
/*section*/
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  text-align: left;
}
p {
  font-size: 15px;
  text-align: justify;
  text-indent: 30px;
  margin-bottom: 20px;
}
.info{
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
 }
 .text1{
  padding: 30px 104px;
  margin-top: -48px;
 }
 .text2{
  padding: 30px 160px;
  margin-top: -48px;
 }
 .text3{
  padding: 30px 195px;
  margin-top: -48px;
 }
 .text4{
  padding: 30px 50px;
  margin-top: -48px;

  
 }
 #texto{
  font-weight: normal;
  color:black;
 }
 .e-mail{
  display: flex;
  justify-content:space-around;
  
 }
 .figure{
  list-style-type: lower-latin;
  padding-left: 100px;
  color: #000;
}
td{
margin-right: 70px;
padding-top: 20px;
padding-left: 30px;
text-align: left;
}
tr{
right: 120px;
text-align: center;
}
.lista{
  color: white;
  background-color: #457e77;
  height: 50px;
}
h4{
  font-size: 20px;
  font-weight: bold;
}
.maps{
  width: 50%;
  
}

/*form*/
legend{
  font-weight: bold;
  font-size: 25px;
}
fieldset{
  background-color: aliceblue;
  border: 3px dashed #457e77;
}
.date{
  height: 30px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
 }
 #name{
  height: 30px;
  width: 300px;
 }
.street{
  height: 30px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
}
#street{
  height: 30px;
  width: 250px;
}
#city{
  height: 30px;
  width: 200px;
}
#zip{
  height: 30px;
  width: 150px;
}
.days{
  height: 30px;
  width: 350px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
}
#day{
  height: 30px;
  width: 150px;
  font-size: 18px;
}
.gender{
  width: 350px;
  margin-left: 350px;
  margin-top: -30px;
  font-size: 15px;
}
#gender{
  display: inline-block;
  margin-left: 20px;
}
.grade{
  height: 30px;
  margin: 10px;
  font-size: 15px;
}
#grade{
  display: inline-block;
  margin-left: 20px;
}
h4{
  margin: 10px;
}
.team{
  margin: 10px;
  font-size: 15px;
  margin-left: 20px;
  width: 220px;
}
#teams{
  margin: 10px;
  display: flex;
  flex-direction: column;
}
#columna1 {
  top:10px;
  left:50px;
  width:250px;
  height: 10px;
  margin-top:200px;
}
#columna2 {
  margin-left:220px;
  margin-right:20px;
  margin-top:10px;
}
.place{
  height: 30px;
  margin: 70px;
  font-size: 15px;
}
.firm{
  font-weight: bold;
  margin-top: 150px;
}
.line{
  width: 20%;
  margin-left: 200px;
  border-bottom: 3px solid black;
}
.line1{
  width: 20%;
  margin-left: 35px;
  border-bottom: 3px solid black;
}
/*boton*/
.btn{
  margin-top: 15px;
  padding: 20px 50px;
  background-color: #457e77;
  color: white;
  border-radius: 13px;
  border: none;
}